#friends-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 13px 0px;
    font-size: 15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.15);
    padding: 0px 7px;
}

.main-screen {
    margin:0px var(--horizontal-space);
}